bin/node_modules/**
bin/package-lock.json
bin/package.json
__pycache__/

temp/**
config/**
reports/**
wordlists/**

h1.json

!temp/.gitkeep
!reports/.gitkeep
!config/.gitkeep
!wordlists/all.txt
!wordlists/deep.txt
!wordlists/files.txt
!wordlists/params.txt
!wordlists/resolvers.txt
!wordlists/start.txt